<!-- <div style="margin-top: 100px;" class="home-container">
    <div class="welcome-section">
      <h1>Welcome to Our Learning Platform</h1>
      <p>Enhance your knowledge with our top courses.</p>
      <button mat-flat-button (click)="CouresesClick()" color="primary" class="start-button">
        <mat-icon>play_arrow</mat-icon> Start Learning
      </button>
    </div>
 <div>  -->
    

     <!-- <div class="fullscreen-image">
        <img src="1.jpg" alt="Full Screen Image">
    </div> -->

    <!-- <div class="home-container">
        <img src="assets/1.jpg" alt="Home Background" class="background-image">
      </div> -->
      